<!-- Author: Anthony Huynh -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Locations</title>
	</head>
 
	<body>
	<div class="mainText" id="locationText"> Locations </div>
	
	
	<div id= "linkBar">
		<a href="http://web.engr.oregonstate.edu/~huynhant/mainPage.html" class="links"> <div> Home </div> </a>
		<a href="http://web.engr.oregonstate.edu/~huynhant/trickShots.html" class="links"> <div> Crazy Trick Shots </div> </a>
		<a href="http://web.engr.oregonstate.edu/~huynhant/poolRules.html" class="links"> <div> Pool Rules </div> </a>
	</div>
	<div> Zip Code: </div>
	<form id="myForm" method = "POST">
		<input id="zipCode" type="text maxlength="5 size="5" name = "zipCode"></input>
		<input type="submit" id="zipSubmit"></input>
	</form>
		
		{{{body}}}
		
	</body>
</html>