/* Author: Anthony Huynh */

body {
	background-image: url("pictures/pool_table.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

a {
    display: inline-block;
	color: red;
}

a.homepage{
	color:white;
	font-size: 100px;
	transform: translate(850px, -180px) rotate(15deg);
	width: 120px;
}

a.links{
	padding-left: 30px;
	padding-right: 30px;
}


div.mainText{
	color:white;
	font-size: 160px;
	transform: translate(0px, 20px) rotate(-13deg);
	width: 120px;
	
}

div.trickShots{
	color:white;
	font-size: 160px;
	transform: translate(20px, 20px) rotate(-13deg);
	width: 120px;
	
}

div.zipcode{
	color:white;
	font-size: 30px;
	transform: translate(60px, 100px);
}

#myForm{
	transform: translate(60px, 100px);
}

#rules{
	font-size: 30px;
	color: yellow;
	transform:translate(300px, -100px);
	background-color: black;
	width: 750px;
	height: 300px;
	overflow:scroll;
}

#locationText{
	font-size: 150px;
	transform: translate(0px, 20px) rotate(-10deg);
}


#linkBar{
	background-color: lime;
	font-size: 30px;
	transform: translate(0px, -80px) rotate(-11deg);
	width: 1000px;
}



#zipDiv{
	color: white;
	font-size: 45px;
}

#zip{
	height: 35px;
	width: 200px;
}

button{
	font-size: 30px;
	width:200px;
}

#submitButton{
	font-size: 30px;
}

#trickShotVideo{
	align: center;
}

li{
	transform: translate(60px, 100px);
	font-size:20px;
	font-weight:bold;
}



/*code for carousel styling obtained from w3schools.com */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  align: bottom;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}






