
body {
	background-image: url("../pool_table.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

a {
    display: inline-block;
}

a.homepage{
	color:white;
	font-size: 100px;
	transform: translate(850px, -180px) rotate(15deg);
	width: 120px;
}


div.mainText{
	color:white;
	font-size: 160px;
	transform: translate(0px, 20px) rotate(-13deg);
	width: 120px;
}

#rules{
	font-size: 30px;
	color: red;
	transform:translate(300px, -250px);
	background-color: lime;
	width: 750px;
}

#locationText{
	font-size: 150px;
	transform: translate(0px, 20px) rotate(-10deg);
}


div.links{
	background-color: lime;
	color:red;
	font-size: 50px;
}

#rulesLink{
	transform: translate(750px, -60px) rotate(15deg);
	width: 225px;
}

#locationsLink{
	transform: translate(400px, 100px) rotate(15deg);
	width: 200px;
}

#zipDiv{
	color: white;
	font-size: 45px;
}

#zip{
	height: 35px;
	width: 200px;
}

button{
	font-size: 30px;
	width:200px;
}

#submitButton{
	font-size: 30px;
}






